<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=>, initial-scale=1.0">
	<title>Proveedor nuevo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

	<link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

	<link rel="stylesheet" href="../css/encabezado.css">
	<link rel="stylesheet" href="../css/imagenes.css">
	<link rel="stylesheet" href="../css/colores_pag.css">
	<link rel="stylesheet" href="../css/contenedores.css">
	<link rel="stylesheet" href="../css/prueba_colores.css">

	<script src="../js/busqueda.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
		integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
		crossorigin="anonymous"></script>

	<script src="jquery-3.6.0.min.js"></script>

</head>

<body id="proveedorNuevoPag">
	<header>

	</header>
	<nav class="nav">

		<ul class="nav nav-tabs">
			<label id="titulo_sis">MARK WEB</label>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/inventario/menu}">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/inventario/productoNuevo}">Registrar Producto</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page">Actualizar Producto</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/inventario/listaProductos}">Lista de productos </a>
			</li>
		</ul>
		<div id="user_ic1">
			<span id="us" class="bi bi-file-person-fill"><label th:text="${nombreUser}"></label></span>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesi&oacute;n</a></li>
		</div>
	</nav>

	<div class=container my-5 style="text-align:center;">
		<div class="card-body">

			<form th:action="@{/inventario/busquedaProducto}" th:object="${producto}" th:method="get">
				<table class="table-primary" id=tabla2>
					<tr>
						<td>
							<label class="col-form-label">Código Barras:</label>
						</td>
						<td>
							<input class="form-control" type="text" id="codigoBarras" th:field="*{codigoBarras}">
						</td>
						<td>
							<input type="submit" class="btn btn-dark" value="Buscar">
						</td>

					</tr>


					<div th:classappend="'alert'" th:if="${error != null}" th:text="${error}" class="alert" id="error">
					</div>

					<div th:classappend="'alert'" th:if="${mensaje != null}" th:text="${mensaje}" class="alert"
						id="mensaje">
					</div>

				</table>

			</form>

		</div>
	</div>
	<div class=container my-5>
		<div class="card-body">
			<form th:action="@{/inventario/actualizarProd}" th:object="${producto}" th:method="put">
				<table style="float: left;width: 50%;">
					<tbody>
						<tr>
							<td><label>Código de barras:</label></td>
						</tr>
						<tr>
							<td><input class="form-control" required="" type="text" th:field="*{codigoBarras}" /></td>
						</tr>

						<tr>
							<td><label>Descripcion:</label></td>
						</tr>
						<tr>
							<td><textarea class="form-control" th:field="*{descripcion}"></textarea></td>
						</tr>
						<tr>
							<td><label>Nombre:</label></td>
						</tr>
						<tr>
							<td><input class="form-control" required="" type="text" th:field="*{nombre}" /></td>
						</tr>
						<tr>
							<td><label>Costo promedio</label></td>
						</tr>
						<tr>
							<td><input id="costo" onkeyup="calcularPrecioVenta()" class="form-control" required=""
									step="any" type="number" th:field="*{costoPromedio}" /></td>
						</tr>


						<tr>
							<td><label>Impuesto:</label></td>
						</tr>
						<tr>
							<td><select class="form-select" name="impuesto" id="list_impuesto">
									<option th:each=" impu : ${listImpuestos}" th:value="${impu.id}"
										th:text="${impu.TipoImpuesto}"></option>
								</select></td>
						</tr>
						<tr>
							<td><label>Precio venta con impuestos:</label></td>
						</tr>
						<tr>
							<td><input id="precioV" class="form-control" required="" type="number" step="any"
									th:field="*{precioVenta}" /></td>

						</tr>


					</tbody>
				</table>
				<table width="50%">
					<tbody>
						<tr>
							<td><label>Stock actual:</label></td>
						</tr>
						<tr>
							<td><input class="form-control" required="" type="number" th:field="*{stockActual}" /></td>
						</tr>

						<tr>
							<td><label>Marca:</label></td>
						</tr>
						<tr>
							<td><select name="marca" id="listMarcas" class="form-select">
									<option th:each=" marca : ${listMarcas}" th:value="${marca.id}"
										th:text="${marca.nombre}"></option>
								</select></td>
						</tr>
						<tr>
							<td><label>Proveedor:</label></td>
						</tr>
						<tr>
							<td><select class="form-select" name="proveedor" id="listProveedores">
									<option th:each=" prov : ${listProveedores}" th:value="${prov.id}"
										th:text="${prov.nombreComercial}"></option>
								</select></td>
						</tr>
						<tr>
							<td><label>Sección:</label></td>
						</tr>
						<tr>
							<td><select class="form-select" name="seccion" id="listSeccion">
									<option th:each=" seccion : ${listSeccion}" th:value="${seccion.id}"
										th:text="${seccion.categoria}"></option>
								</select></td>
						</tr>


					</tbody>
				</table>
				<input type="submit" class="btn btn-dark" id="boton2" value="Actualizar">
			</form>

			<form th:action="@{/inventario/eliminarProducto/{id}(id=${producto.id})}" th:object="${producto}"
				th:method="delete">
				<table class="table-primary">
					<input type="submit" class="btn btn-dark" id="boton1" value="Eliminar">
				</table>
			</form>

		</div>
	</div>

</body>