<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Abrir Caja</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
	

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Abrir Caja</h1>
				<form th:action="@{/ventas/abrirCaja}" th:object="${cierre}" th:method="get">

					
					<div class="form-group">
						<label for="monto">Monto de apertura : </label> 
						<input id="monto" name="monto" type="text" class="form-control"
							required autofocus="autofocus" th:field=*{valorApertura} placeholder="0.00">
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-success">Abrir</button>

					</div>

					

				</form>

			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>

</html>