<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Cobrar</title>

	<script src="../js/busqueda.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>


	<div class="container">
		<div class="row">
			<h1>Contador de Efectivo</h1>
			<div class="col-md-6 col-md-offset-3">
				
				<div>
					<label>$ 100</label>
					<input id="100" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>$ 50</label>
					<input id="50" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>$ 20</label>
					<input id="20" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>$ 10</label>
					<input id="10" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>$ 5</label>
					<input id="5" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>$ 2</label>
					<input id="2" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>$ 1</label>
					<input id="1" class="form-control" value=0 placeholder="0" readonly>
				</div>


			</div>
			<div class="col-md-6 col-md-offset-3">
				<div>
					<label>ctvs 1.00</label>
					<input id="1.00" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>ctvs 0.50</label>
					<input id="0.50" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>ctvs 0.25</label>
					<input id="0.20" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>ctvs 0.10</label>
					<input id="0.10" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>ctvs 0.05</label>
					<input id="5" class="form-control" value=0 placeholder="0" readonly>
				</div>
				<div>
					<label>ctvs 0.01</label>
					<input id="2" class="form-control" value=0 placeholder="0" readonly>
				</div>
				
			</div>
		</div>
	</div>


</body>

</html>