<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=>, initial-scale=1.0">
	<title>Pedidos a proveedor</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

	<link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

	<link rel="stylesheet" href="../css/encabezado.css">
	<link rel="stylesheet" href="../css/imagenes.css">
	<link rel="stylesheet" href="../css/colores_pag.css">
	<link rel="stylesheet" href="../css/contenedores.css">

	<script src="../js/busqueda.js"></script>
	<script src="../js/shortcut.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
		integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
		crossorigin="anonymous"></script>

	<script src="jquery-3.6.0.min.js"></script>

</head>

<body id="ventasPag">
	<header></header>
	<section></section>
	<div id="contenedor">

		<div id="cont1" class=container my-5>
			<div>
				<label>Seleccione Proveedor </label>

				<select class="selectpicker" data-show-subtext="true" data-live-search="true">
					<form>
					<option th:each=" prov : ${listaProveedores}" th:value="${prov.id}"
						th:text="${prov.nombreComercial}"></option>
					</form>
				</select>
			</div>

			<div id="busqueda">
				<label>Buscar por: </label>
				<button id="btncambiarModoBusquedaCodigo" type="menu" class="btn btn-dark"
					onclick="cambiarModoBusquedaCodigo()">Código</button>
				<button id="btncambiarModoBusquedaNombre" type="menu" class="btn btn-dark"
					onclick="cambiarModoBusquedaNombre()">Nombre</button>
				<div class="alert alert-warning" role="alert" th:classappend="'alert'" th:if="${mensaje1 != null}"
					th:text="${mensaje1}" id="mensaje1">
				</div>
			</div>
			<form id="buscarNombre" style="display:none;" th:action="@{/compras/buscarProducto}" th:object="${producto}"
				th:method="get">
				<div class="input-group mb-3">
					<input autofocus autocomplete="off" th:field="*{nombre}" id="barraBusc"
						placeholder="Escribe el nombre del producto" type="text" class="form-control">

					<div class="input-group-append"><input type="submit" class="btn btn-dark" value="Buscar"></div>
				</div>
			</form>

			<form id="buscarCodigo" th:object="${producto}" th:action="@{/compras/agregar}" method="post">
				<input autofocus autocomplete="off" th:field="*{codigoBarras}" id="buscadorC"
					placeholder="Escanea el código" type="text" class="form-control">

			</form>

			<div class=" table-wrapper-scroll-y my-custom-scrollbar">
				<table class="table table-bordered  table-striped mb-0" , id="tab_busqueda">
					<!----cabezera de la tabla---->
					<thead>
						<tr>
							<th class="th-sm" scope="col">Nombre</th>
							<th class="th-sm" scope="col">Codigo de barras</th>
							<th class="th-sm" scope="col">Descripción</th>
							<th class="th-sm" scope="col">Costo</th>
							<th class="th-sm" scope="col">Stock Actual</th>
							<th class="th-sm" scope="col">Agregar</th>
						</tr>
					</thead>

					<!----cuerpo de la tabla---->
					<tbody>
						<tr th:each=" prod : ${listaProductos}">
							<form th:action="@{/compras/agregar2/{codigoBarras}(codigoBarras=${prod.codigoBarras})}"
								th:object=${prod} th:method="post">

								<td th:text="${prod.nombre}"></td>
								<td th:text="${prod.codigoBarras}"></td>
								<td th:text="${prod.descripcion}"></td>
								<td th:text="${prod.stockActual}"></td>
								<td th:text="${prod.costoPromedio}"></td>

								<td>
									<input type="submit" class="btn btn-dark" id="bot4" value="Agregar">
								</td>
							</form>

						</tr>
					</tbody>
				</table>
			</div>
		</div>



		<div id="cont2" class=container my-5>
			<div class=" table-wrapper-scroll-y my-custom-scrollbar">
				<table class="table table-bordered  table-striped mb-0" id=tabla1>
					<thead>
						<tr>
							<th class="th-sm" scope="col">Cantidad</th>
							<th class="th-sm" scope="col">Nombre</th>
							<th class="th-sm" scope="col">Código</th>
							<th class="th-sm" scope="col">Costo</th>
							<th class="th-sm" scope="col">Total</th>
							<th class="th-sm" scope="col">Quitar de lista</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="det, iterador : ${session.carrito}">
							<td th:text="${det.cantidad}"></td>
							<td th:text="${det.producto.nombre}"></td>
							<td th:text="${det.producto.codigoBarras}"></td>
							<td th:text="${det.producto.costoPromedio}"></td>

							<td th:text="${det.total}"></td>
							<td>
								<form th:action="@{/compras/borrar/} + ${iterador.index}" th:method="delete" ,
									th:object=${producto}>
									<input type="submit" class="btn btn-dark" value="Eliminar" , id=bot1>
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="venta">
				
				<table>
					<thead>
						<tr>
							<h2 th:text="${'Total: ' + total}" id=total></h2>
						</tr>
						<tr>
							<th><label class="tit-btn">Cobrar</label></th>
							<th><label class="tit-btn">Limpiar</label></th>
							<th><label class="tit-btn">Cerrar Caja</label></th>
							<th><label class="tit-btn">Adicionales</label></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<input>
							<td>
								<form th:action="@{/compras/realizarCompraPedido}" th:method="get">
									<input id="ic" type='image' class="btn btn-danger" src="../images/ic_cobrar.png">
								</form>
							</td>
							<td>
								<form th:action="@{/compras/limpiar}" th:method="get">
									<input id="ic" type="image" class="btn btn-success" src="../images/ic_limpiar.png">
								</form>
							</td>


							<td>
								<form th:action="@{/compras}" th:method="get">
									<input id="ic" type="image" class="btn btn-info" src="../images/ic_volver.png">
								</form>
							</td>
						</tr>
						<!--<tr>
							<form th:action="@{/ventas/descuento}" th:object="${descuento}" th:method="get">
								<label>Descuento</label>
								<input type="radio" name="estado" th:value="true" th:fiel="*{tipoDesceunto}">Porcentaje
								<input type="radio" name="estado" th:value="false" th:fiel="*{tipoDesceunto}">Valor

								<input type="text" class="form-control" th:fiel="*{valorDesceunto}">
								<input type="submit" class="btn btn-dark" value="Aplicar">
							</form>
						</tr>-->

					</tbody>
				</table>
			</div>
		</div>


	</div>


</body>

</html>