<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Modificación de usuarios</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div th:if=${param.exito}>
					<div class="alert alert-info">Se ha registrado exitosamente</div>
				</div>

				<form th:action="@{/gestionUsuarios/buscarUsuario}" th:object="${usuario}" th:method="get">
					<table class="table-primary" id=tabla2>
						<tr>
							<td>
								<label class="col-form-label">Nombre usuario:</label>
							</td>
							<td>
								<input class="form-control" type="text" id="nombreUsuario" th:field="*{nombreUsuario}">
							</td>
							<td>
								<input type="submit" class="btn btn-dark" value="Buscar">
							</td>

						</tr>


						<div th:classappend="'alert'" th:if="${error != null}" th:text="${error}" class="alert"
							id="error">
						</div>

						<div th:classappend="'alert'" th:if="${mensaje != null}" th:text="${mensaje}" class="alert"
							id="mensaje">
						</div>

					</table>

				</form>
				<form th:action="@{/registro}" method="post" th:object="${usuario}">
					<div class="form-group">
						<label class="control-label" for="nombres">Nombres: </label> <input id="nombre" type="text"
							class="form-control" th:field="*{nombres}" required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="apellidos">Apellidos: </label>
						<input id="apellido" class="form-control" th:field="*{apellidos}" required
							autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="perfil">Tipo de Identificación: </label>

						<select th:name="tiposID" id="tiposID" class="form-control select2-single" th:field="*{tipoId}">
							<option th:each="option : ${T(ec.edu.uce.modelo.TipoIdentificacion).values()}"
								th:value="${option}" th:text="${option}" th:field="*{tipoId}">
							</option>
						</select>
					</div>

					<div class="form-group">
						<label class="control-label" for="identificacion">Identificación: </label>
						<input id="identificacion" class="form-control" th:field="*{identificacion}" required
							autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="perfil">Rol Usuario: </label>

						<select th:name="perfiles" id="perfiles" class="form-control select2-single"
							th:field="*{perfil}">
							<option th:each="option : ${T(ec.edu.uce.modelo.TipoUsuario).values()}" th:value="${option}"
								th:text="${option.label}" th:field="*{perfil}">
							</option>
						</select>
					</div>


					<div class="form-group">
						<label class="control-label" for="perfil">Caja: </label>

						<select th:name="cajas" id="cajas" class="form-control select2-single" th:field="*{caja}">
							<option th:each="option : ${cajas}" th:value="${option.nombre}" th:text="${option.nombre}"
								th:field="*{caja}">
							</option>
						</select>
					</div>

					<div class="form-group">
						<label class="control-label" for="email">Nombre de Usuario: </label>
						<input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="password">Contraseña: </label> <input type="password"
							id="password" class="form-control" th:field="*{password}" required autofocus="autofocus">
					</div>
					<div class="form-group">
						<label class="control-label" for="password">Estado: </label>
						<input type="radio" name="estado" th:value="true" th:field="*{estado}">Activo
						<input type="radio" name="estado" th:value="false" th:field="*{estado}">Inactivo

					</div>


					<div class="form-group">
						<button type="submit" class="btn btn-success">Actualizar</button>

					</div>
				</form>

			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>

</html>