<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=>, initial-scale=1.0">
	<title>Ventas</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

	<link rel="stylesheet" href="../css/encabezado.css">
	<link rel="stylesheet" href="../css/imagenes.css">
	<link rel="stylesheet" href="../css/colores_pag.css">
</head>

<body>
	<header></header>
	<nav class="nav">

		<ul class="nav nav-tabs">
			<label id="titulo_sis">MARK WEB</label>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/}">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page">Ventas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/registro}">Registro de Usuarios</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/compras/nueva}">Compras</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/inventario/menu}">Inventario</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" th:href="@{/clientes/menu}">Clientes</a>
			</li>
		</ul>
		<div id="user_ic">
			<span id="us" class="bi bi-file-person-fill"><label th:text="${nombreUser}"></label></span>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesi&oacute;n</a></li>
		</div>
	</nav>


	<section class="pantalla">

		<img class="fondos" src="../images/f_vents.jpg" alt="Ventas">
		<div class="btn_lista">
			<table>
				<tr>
					<th>
						<a href="#" th:href="@{/ventas/ventaNueva}">
							<button type="button" class="btn btn-outline-warning"><img class="iconos"
									src="../images/ic_facturacion.png" alt="Facturación"><label
									class="txt_ic">Facturación</label></button></a>
					</th>

					<th>
						<button type="button" class="btn btn-outline-warning"><img class="iconos"
								src="../images/ic_cierre_caja.png" alt="Cierres de Caja"><label class="txt_ic">Cierres
								de Caja</label></button>
					</th>
					<th>
						<button type="button" class="btn btn-outline-warning"><img class="iconos"
								src="../images/ic_hist_facturas.png" alt="Historial Facturas"><label
								class="txt_ic">Historial Facturas</label></button>
					</th>
				</tr>
				<tr>
					<th>
						<button type="button" class="btn btn-outline-warning"><img class="iconos"
								src="../images/ic_volver.png" alt="Volver"><label class="txt_ic">
								Volver</label></button>
					</th>


				</tr>
			</table>
		</div>
	</section>

	<footer></footer>
</body>

</html>