#buscarPN {
    display: inline-block;
}

#barraBusc {
    width: 500px;
}

#contenedor {
    display: flex;
    height: 100vh;
    flex: 1;

}

#cont1 {
    height: 100%;
    flex: 1;
    border: double #582733;
    background-color: #f1f1f1;

}

#cont2 {
    height: 100%;
    flex: 1;
    border: double #582733;
    background-color: #f1f1f1;


}

#busqueda {
    padding-bottom: 10px;
}


#contenedor>div {
    width: 50%;
    height: 100%;
}

#venta {
    position: absolute;
    bottom: 5%;

}

.my-custom-scrollbar {
    position: relative;
    height: 70%;
    overflow: auto;
    font-size: 13px;
}

.table-wrapper-scroll-y {
    display: block;
}

#cantidad {
    width: 50px;
}

#tab_busqueda {
    height: 550px;
}

#cont{
	background-color: #f1f1f1;
}

.cant{
	width: 35px;
	border-radius: 5px;
}

.contfechas{
	display: inline-block;
	width: 200px;
}

#fec{
	width: 190px;
}

.conte1{
	margin-right: 205px;
}

#volver1{
	position: absolute;
	top: 450px;
	right: 100px;
}

#cliente{
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-flex;
}

.form-select{
	height: 40px;
	font-size: 12px;
}

#accR{
	margin: 100px auto;
	text-align: center;
}

