.iconos {
    width: 150px;
    height: 150px;

}

.iconos2 {
    width: 30px;
    height: 30px;

}

.fondos {
    width: 500px;
    height: 100vh;

}

#ic {
    width: 110px;
    height: 110px;
    text-align: center;
    margin: 4px;

}

#icv {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 4px;

}

#icCli{
	margin-left: 20px;
	width: 45px;
    height: 40px;
}

.tit-btn {
    text-align: center;
    margin: auto 10px;
}