<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Cobrar</title>

	<script src="../js/busqueda.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	
	<link rel="stylesheet" href="../css/colores_pag.css">
	
</head>

<body>


	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Cobrar</h1>
				<form th:action="@{/ventas/realizarVenta}" th:object=${descuento} th:method="post">
					<div class="form-group">
						<label>Total: </label>
						<input id="total" class="form-control" th:value=${total} placeholder="0.00" readonly>
						<input type="hidden" id="cliente" th:field="${producto.cliente}" th:value="${producto.cliente}">
					</div>

					<div class="form-group">
						<label>Entrega: </label>
						<input id="entrega" class="form-control" placeholder="0.00" readonly>
					</div>

					<div class="form-group">
						<label for="cambio">Cambio: </label>
						<input id="cambio" class="form-control" placeholder="0.00" readonly>
					</div>
					<div class="form-group">
						<label>Descuento: </label>
						<label><input type="radio" id="porDes" name="estado" value='true' th:value="true"
								th:field="*{tipoDesceunto}">Porcentaje</label>
						<label for=""><input id="cantDes" type="radio" name="estado" value='false' th:value="false"
								th:field="*{tipoDesceunto}">Valor</label>

						<input id='valDes' type="text" class="form-control" th:field="*{valorDesceunto}">
						<input onclick="descuento()" id='aplicarD' type="button" class="btn btn-success" value="Aplicar">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Terminar Venta</button>
					</div>
				</form>
				<div class="form-group">
					<label>Efectivo: </label>
					<input id="entrada" onkeyup="cambio()" name="entrega" type="text" class="form-control" required
						autofocus="autofocus" placeholder="Ingrese la cantidad de efectivo recibido">
				</div>

			</div>





		</div>
	</div>






</body>

</html>